//Variables
$colores:(
    "primario": #14213d,
    "secundario": #fca311,
    "terciario": #e5e5e5,
    "negro": black,
);



$primary-color: #14213d;
$secondary-color: #fca311;
$third-color: #e5e5e5;