@use "sass:map";
@import 'colors';
@import 'media-queries';


.header{
    background-color: map.get($colores, "primario");
    
    grid-area: header;
    padding: .4rem 4rem;


    display: flex;
    justify-content: space-between;

    @include tablet{
        display: flex;
        flex-direction: column;
    }

    &__navbar--queries{
        display: flex;
        justify-content: space-between;
    }

    &__navbar--brand{
        margin: auto 0;
    }
    
    &__navbar{
        display: flex;
        flex-direction: row;

        @include tablet{
            justify-content: center;
        }


        &--toggle{
            color: white;
            display: none;

            @include tablet{
                display: initial;
                align-self: flex-end;
                margin: auto 0;
                cursor: pointer;
            }
        }

        &--links{
            
            list-style-type: none;
            display: flex;
            align-items: center;



            @include tablet{
                display: flex;
                flex-direction: column;
            }
            
            .active{
                background-color: map.get($colores, "secundario");
                border-radius: .5rem;
                
                a{
                    color: black;
                    pointer-events: none;
                }
            }

            li{
                padding: 1rem 2rem;

                a{
                    color: map.get($colores, "terciario");
                    text-decoration: none;
                }

                a:hover{
                    color: map.get($colores, "secundario");
                    transition: all 0.3s ease;
                }
            }
        }
    }
}