@import "header";
@import "colors";
@import "footer";
@import "background";
@import "media-queries";

body {
  height: 100vh;
  background-color: black !important;
}

.wrapper {
  background-color: black;
  height: 100vh;
  max-width: 100%;
  align-content: space-between;
  align-items: center;
  display: grid;
  grid-template-areas:
    "header header"
    "form form"
    "footer footer";
}

.contact {
    margin: 2rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;


  grid-area: form;

  &__title{
      padding-bottom: 2rem;
  }

  &__card {
    align-self: stretch;

    input{
        padding: .4rem;
        border: white;
        border-radius: 0.2rem;
    }

    form {
        background-color: $primary-color;
        border-radius: 1rem;
        padding: 0 2rem;
        padding-bottom: 1.5rem;
      display: flex;
      flex-direction: column;

        div{
            margin-top: 1rem;
        }

        textarea{
            border:white;
            border-radius: .2rem;
            margin-top: 2rem;
        }

        .name{
            display: flex;
            flex-direction: column;   
        }

        .email{
            display: flex;
            flex-direction:column;
        }

        .buttons{
            display: grid;
            grid-gap: 2rem;
            grid-template-areas: "reset submit";

            .submit{
                padding: .5rem 2rem;
                border: white;
                border-radius: .5rem;
                cursor: pointer;
                font-size: 1rem;
                background-color: $secondary-color;
            }
            
            .reset{
                padding: .5rem 2rem;
                color: white;
                border: white;
                border-radius: .5rem;
                cursor: pointer;
                font-size: 1rem;
                background-color: black;
            }

            @include tablet{
                grid-gap: 1rem;
                grid-template-areas: "reset"
                                     "submit";
            }
        }

    }
  }
}

.header__navbar--links {
  margin-bottom: 0;
}
