


body {
    font-size: 62.5%;
    background-image: linear-gradient(to bottom, rgba(20,33,61,0.5), rgba(0,0,0,0.9)),url(../assets/photo0.jpeg);
    background-size: cover;
    font-family:'Georama', sans-serif;
    background-color: black;
    color: #E5E5E5;
    margin: 0px;
    height: 100vh;
    font-size: 1rem;
}

.navBar{
    display: inline-block;
}

.navBar ul{
    list-style-type: none;
}

.navBar li{
    
    display: inline-block;
}

.navBar ul li a{
    margin-left: 2rem;
    text-decoration: none;
}

.biografia{
    display: inline-block;
}

header {
    background-color: #14213D;

}

.footer {
    text-align: center;
    background: #FCA311;
}

table.showsTable {
    background-color: #14213D;
    text-align: center;
}

table.showsTable td, table.showsTable th {
    border: 1px solid white;
    padding: 3px 2px;
}

table.showsTable thead {
    background: #FCA311;
}

.contactForm input{
    display: block;
}


.footer ul li{
    display: inline-block;
}

.footer ul li a{
    text-decoration: none;
}

.footer p {
    margin: 0px 0px;
}